.app {
  max-width: 600px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto;
}

.container {
  margin-top: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.title_text {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  min-width: 90vw;
  gap: 20px;
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  overflow-y: scroll;
}

